.arrow-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.label {
  max-width: 150px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.separator {
  width: 2px;
  height: 100%;
  background: var(--tertiary-color);
  position: relative;
  grid-area: e;
}

.separator-wrapper {
  height: 48vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.arrow-separator {
  --arrow-separator-size-base: 3;
  --arrow-separator-size: calc(var(--arrow-separator-size-base) * 1vw);
  --arrow-initial-offset: calc(var(--arrow-separator-size) / -2);
  width: var(--arrow-separator-size);
  height: var(--arrow-separator-size);
  position: absolute;
  top: calc(50% - (var(--arrow-separator-size-base) * 0.5vw));
  left: calc(var(--arrow-initial-offset) + 2px);
  rotate: 45deg;
  background: var(--secondary-color);
  border-right: 2px solid var(--tertiary-color);
  border-top: 2px solid var(--tertiary-color);
  clip-path: polygon(100% 0, 100% 100%, 90% 100%, 0 10%, 0 0);
}

.hash-function-wrapper {
  display: grid;
  width: 100%;
  grid-template:
  "a b c" 1fr
  "d e f" 5fr / 5fr 1fr 5fr;
  gap: 1vw;
  place-items: center;
}

.generations-counter {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  grid-area: b;
  font-size: 2em;
  font-weight: bold;
  border-radius: 100px;
}
