.grid-container {
    width: 100%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 1px;
    background-color: black;
    border: 2px solid black;
    z-index: 10;
}

.alive {
    background-color: #151515;
}

.dead {
    background-color: white;
}