.arrow-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.label {
    max-width: 150px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.red {
    color: rgba(160, 0, 0, 1);
}

.separator {
    width: 1px;
    height: 100%;
    background: var(--hash-function-separator-color);
    position: relative;
}

.arrow-separator {
    --arrow-separator-size: 50px;
    width: var(--arrow-separator-size);
    height: var(--arrow-separator-size);
    position: absolute;
    top: 60%;
    left: calc(var(--arrow-separator-size) / -2);
    rotate: 45deg;
    background: var(--hash-function-background-color);
    border-right: 1px solid var(--hash-function-separator-color);
    border-top: 1px solid var(--hash-function-separator-color);
}