.arrow-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.label {
    max-width: 150px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.separator {
    width: 2px;
    height: 50vh;
    background: var(--tertiary-color);
    position: relative;
}

.arrow-separator {
    --arrow-separator-size: 3vw;
    --arrow-initial-offset: calc(var(--arrow-separator-size) / -2);
    width: var(--arrow-separator-size);
    height: var(--arrow-separator-size);
    position: absolute;
    top: 55%;
    left: calc(var(--arrow-initial-offset) + 2px);
    rotate: 45deg;
    background: var(--secondary-color);
    border-right: 2px solid var(--tertiary-color);
    border-top: 2px solid var(--tertiary-color);
    clip-path: polygon(100% 0, 100% 100%, 90% 100%, 0 10%, 0 0);
}
