:root {
    --cell-width: 1.5vw;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, var(--cell-width));
    gap: 1px;
    background-color: black;
    border: 2px solid black;
    z-index: 10;
}

.cell {
    width: var(--cell-width);
    height: var(--cell-width);
}

.alive {
    background-color: #151515;
}

.dead {
    background-color: white;
}