.arrow-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.label {
    max-width: 150px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.red {
    color: rgba(160, 0, 0, 1);
}