#root {
  margin: 0 auto;
}

.hash-function {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
}

.app {
    display: flex;
    gap: 40px;
}

.box-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid green;
    padding: 20px;
    width: 100%
}

.green {
    color: rgba(0, 160, 0, 1);
    align-self: start;
}

.app-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
