.arrow {
    width: 100px;
    height: 100px;
    background-color: grey;
    clip-path: polygon(10% 40%, 60% 40%, 60% 25%, 90% 50%, 60% 75%, 60% 60%, 10% 60%);
}

.down {
    rotate: 90deg;
}

.right {
    rotate: 180deg;
}

.up {
    rotate: 270deg;
}