:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 22px;


  --primary-color: yellow;
  --secondary-color: #FEF247;
  --tertiary-color: #2f2f2f;
  --accent-color: white;

  color-scheme: light dark;
  color: var(--tertiary-color);
  background-color: var(--primary-color);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background: var(--tertiary-color);
  color: var(--accent-color);
  border: 2px solid var(--tertiary-color);
}
button:hover {
  background-color: var(--accent-color);
  color: var(--tertiary-color);
}

input {
  background: var(--primary-color);
  border: 2px solid var(--tertiary-color);
}

input::placeholder {
  color: #8d8d8d;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

fieldset {
  border: 1px solid var(--tertiary-color);
  min-height: 4vh;
  margin-inline: auto;
}
