.plaintext-digest {
    display: flex;
    gap: 20px;
    max-width: 100%;
    align-items: center;
}

.plaintext-digest:not(:first-child) {
    border-top: 1px solid grey;
}

.plaintext-digest:first-child {
    margin-top: -20px;
}


li > p {
    word-break: break-word;
    max-width: 50%;
}

.plaintext {
    width: 50%;
    text-align: center;
}

