.text-box {
    min-width: 20vw;
    max-width: 20vw;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-block: 0;
    height: 3vh;
}

.digest {
    min-width: 48vw;
    max-width: 48vw;
    height: 4.5vh;
    font-size: 1.5em;
    text-align: center;
}