.login-modal {
    --modal-width: 60vw;
    --modal-height: 45vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(calc(var(--modal-width) / -2)) translateY(calc(var(--modal-height) / -2));
    width: var(--modal-width);
    height: var(--modal-height);
    background: var(--secondary-color);
    border: 2px solid var(--tertiary-color);
    box-shadow: 5px 10px 20px black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    font-size: 40px;
    z-index: 100;
}

.login-forms {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-separator {
    height: calc(var(--modal-height) / 2);
    width: 2px;
    background: var(--tertiary-color);
}

.login-message {
    word-wrap: break-word;
    max-width: 100%;
    font-size: inherit;
    font-weight: bold;
    color: black;
}

.login-message-container {
    height: 60px;
    display: flex;
    align-items: center;
}

.close-modal-button {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    padding: 0;
    font-size: 16px;
}

.login-modal-background {
    z-index: 90;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
}